
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <div class="row">
        <a class="page-link" href="/ranking/star?type=user">Star</a>
        <a class="page-link" href="/ranking/fork?type=user">Fork</a>
        <a class="page-link" href="/ranking/repo_count?type=user">RepositoryCount</a>
        <a class="page-link" href="/ranking/follower?type=user">Follower</a>
        <a class="page-link" href="/ranking/following?type=user">Following</a>
    </div>
</div>

